html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #dbdbdb;
  font-family: Georgia;
  font-size: 12px;
  margin: 20px;
}

main {
  position: relative;
}

#instructions,
#nicknameArea,
#questionArea,
#answerArea,
#messageArea {
  text-align: center;
}

header h1 {
  padding: 10px;
  text-align: center;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#highscoreArea {
  position: absolute;
  font-size: 16px;
  animation: breathing 7s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}

#highscoreArea,
th,
td {
  padding-left: 25px;
}

#messageArea {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

#startGameBtn {
  padding: 5px 25px;
  border: none;
  background-color: rgb(180, 180, 180);
  transition: all .2s ease-in;
}

#startGameBtn:hover {
  transform: scale(1.2);
}

#answerBtn {
  padding: 5px 25px;
  border: none;
  background-color: rgb(180, 180, 180);
  transition: all .2s ease-in;
}

#answerBtn:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1100px) {

  #highscoreArea {
    position: relative;
    font-size: 12px;
    display: flex;
    justify-content: center;
    animation: none;
  }

  #highscoreArea,
  th,
  td {
    padding-left: 0px;
  }

  #wrapper {
    max-width: 800px;
    margin: 10 auto;
  }
}