html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("/src/image/question-mark-1872665.jpg"); /* Downloaded from https://pixabay.com/illustrations/question-mark-important-sign-1872665 */
  background-position: center;
  font-family: Georgia;
  color: rgb(231, 235, 243);
  font-size: 12px;
  margin: 20px;
}

main {
  position: relative;
}

#instructions,
#nicknameArea,
#questionArea,
#answerArea,
#messageArea {
  text-align: center;
}

header h1 {
  padding: 10px;
  text-align: center;
  color: rgb(255, 94, 36);
  font-size: 30px;
}

#nicknameArea h2,
#highscoreArea th, 
#questionArea h2 {
  color: rgb(255, 94, 36);
}

#wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

#highscoreArea {
  position: absolute;
  font-size: 20px;
  animation: breathing 7s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}


#messageArea {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

#startGameBtn,
#answerBtn {
  padding: 5px 25px;
  border: none;
  background-color: rgb(180, 180, 180);
  transition: all .2s ease-in;
}

#answerBtn:hover,
#startGameBtn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {

  #highscoreArea {
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: center;
    animation: none;
  }

  #highscoreArea,
  th,
  td {
    padding-left: 0px;
  }

  #wrapper {
    max-width: 800px;
    margin: 10 auto;
  }
}