/*/ Chat CSS /**/
.chatDiv {
    padding: 8px;
    height: 500px;
    width: 500px;
    padding-top: 10px;
 }
   
 .chatDiv textarea {
   resize: none;
   background-color: #f5f6fa;
 }
 
 .chatDiv h2 {
   font-size: 10px;
   position: relative;
   top: 10px;
 }
 
 .chatDiv h1 {
  font-size: 10px;
  position: absolute;
  top: 67px;
  left: 160px;
  margin: 0;
 }

 .chatMenu input {
  padding: 5px;
  position: absolute;
  top: 55px;
  right: 10px;
  border-radius: 10px;
  border: 2px solid #e17055;
  background-color: #f5f6fa;
 }

 .inputArea {
  width: 350px;
  max-height: 300px;
  position: absolute;
  bottom: 0px;
  left: 160px;
 }

 .inputArea textarea {
  border-radius: 10px;
  border: 2px solid #e17055;
}
 
 .messageArea {
  max-height: 405px;
  position: absolute;
  top: 90px;
  width: 350px;
  left: 160px;
  overflow-y: overlay;
 }
 .messageArea::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #f5f6fa;
}

.messageArea::-webkit-scrollbar
{
	width: 12px;
	background-color: #f5f6fa;
}

.messageArea::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #e17055;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(219, 84, 21, 0.4) 50%,
											  transparent,
											  transparent)
}
 
 .channelsDiv {
  height: 500px;
  width: 140px;
  max-width: 140px;
  margin: 0px;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
 }

 .channelsDiv input{
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #e17055;
  background-color: #f5f6fa;
 }

 .activeChannelsDiv {
  margin: 0;
  margin-top: 15px;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
  background: #e17055 !important;;
  background: linear-gradient(90deg, rgba(225, 112, 85, 1) 70%, rgba(230, 148, 129, 1) 84%, rgba(236, 184, 173, 1) 95%) !important;;
  box-shadow: -5px 9px 15px -8px rgba(0, 0, 0, 0.75);
  max-width: 120px;
  overflow-wrap: break-word;
}

 .channelsDiv p {
  margin: 0;
  margin-top: 15px;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgba(204, 204, 204, 1) 70%, rgba(218, 218, 218, 1) 95%);
  box-shadow: 5px 9px 15px -8px rgba(0, 0, 0, 0.75);
  max-width: 120px;
  overflow-wrap: break-word;
  font-size: 14px;
 }

 .channelsDiv a:hover, a:visited, a:link, a:active {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

 .channelsDiv::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
   border-radius: 10px;
   background-color: #f5f6fa;
 }
 
 .channelsDiv::-webkit-scrollbar
 {
   width: 12px;
   background-color: #f5f6fa;
 }
 
 .channelsDiv::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #e17055;
   background-image: -webkit-linear-gradient(90deg,
                         transparent,
                         rgba(219, 84, 21, 0.4) 50%,
                         transparent,
                         transparent)
 }
 

 .receivedMessages:nth-of-type(odd) {
   margin: 0px;
   padding: 10px;
   border-radius: 20px 20px 20px 20px;
   background: rgb(204, 204, 204);
   background: linear-gradient(90deg, rgba(204, 204, 204, 1) 70%, rgba(218, 218, 218, 1) 95%);
   box-shadow: 5px 9px 15px -8px rgba(0, 0, 0, 0.75);
   overflow-wrap: break-word;
   max-width: 200px;
   width: fit-content;
   font-size: 14px;
 }
 
 .receivedMessages:nth-of-type(even) {
   margin: 5px;
   text-align: left;
   font-size: 8px;
   font-weight: bold;
 }
 
 .sentMessages:nth-of-type(odd) {
   margin: 0px;
   margin-left: auto;
   margin-right: 18px;
   padding: 10px;
   border-radius: 20px 20px 20px 20px;
   background: #e17055;
   background: linear-gradient(90deg, rgba(225, 112, 85, 1) 70%, rgba(230, 148, 129, 1) 84%, rgba(236, 184, 173, 1) 95%);
   box-shadow: -5px 9px 15px -8px rgba(0, 0, 0, 0.75);
   overflow-wrap: break-word;
   width: fit-content;
   max-width: 200px;
   font-size: 14px;
 }
 
 .sentMessages:nth-of-type(even) {
   margin: 5px;
   text-align: right;
   font-size: 8px;
   font-weight: bold;
   margin-right: 20px;
 }