html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
    background-image: url("/examination-3/src/image/hacker-2300772.jpg"); /* Downloaded from https://pixabay.com/illustrations/hacker-cyber-crime-internet-2300772/ */
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: grey;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: silver;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all .2s ease-in;
  }

  /* Change the color of links on hover */
.navbar a:hover {
    transform: scale(1.2);
  }