html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  position: fixed;
  background-image: url("/examination-3/src/image/hacker-symbol-2714262.jpg");
  /* Downloaded from https://pixabay.com/illustrations/hacker-symbol-abstract-analysis-2714262/ */
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ‘Montserrat’, sans-serif;
  overflow: hidden;
}

/*/ Menu CSS /**/
.navbar {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  bottom: 60px;
  opacity: 80%;
  min-width: 180px;
  height: 60px;
}

.navbar a {
  float: left;
  display: block;
  color: silver;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: all .2s ease-in;
}

.navbar a:hover {
  transform: scale(1.2);
}