html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

body {
  position: fixed;
  background-image: url("/./image/hacker-symbol-2714262.jpg");
  /* Downloaded from https://pixabay.com/illustrations/hacker-symbol-abstract-analysis-2714262/ */
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ‘Montserrat’, sans-serif;
  overflow: hidden;
}

/*/ Menu CSS /**/
.navbar {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  bottom: 60px;
  opacity: 80%;
  min-width: 180px;
  height: 60px;
}

.navbar a {
  float: left;
  display: block;
  color: silver;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  transition: all .2s ease-in;
}

.navbar a:hover {
  transform: scale(1.2);
}

.dropup-content {
  bottom: 130px;
  display: none;
  position: absolute;
  background-color: grey;
  opacity: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropup-content a {
  color: Black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  transition: all .2s ease-in;
  min-width: 160px;
}

.dropup-content a:hover {
  transform: scale(1.1);
}

.show {
  display:block;
}

.hide {
  display:none;}